@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox($direction, $align, $justify, $background) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  background-color: $background;
}
