@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox($direction, $align-items, $justify-content, $background) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  background-color: $background;
}
